<<<<<<< HEAD
#header {
  margin-top: 70px;
}

/*h1 {
  color: #CEF0D4;
  font-family: 'Rouge Script', cursive;
  font-size: 100px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 50px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
}*/
h1{
   /*color: #d54d7b;*/
   font-family: "Great Vibes", cursive;
   font-size: 165px;
   line-height: 160px;
   font-weight: normal;
   margin-bottom: 0px;
   margin-top: 40px;
   text-align: center;
   text-shadow: 5px 5px #558ABB;
  /* text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;*/
}

/*.neon {
    color: #D0F8FF;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
}*/
h2 {
  /*color: #111;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 72px;
  text-align: center;
   text-shadow:5px 5px 10px black;
}

p {
  /*color: #685206;*/
  font-family: Monospace;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
  text-align: center;
   text-shadow:5px 5px 10px black;
}

nav {
  width: 100%;
  background-color: #0b98de;
  position: fixed;
  top: 0;
}

nav a {
  display: inline-block;
  font-family: sans-serif;
  font-size: 40px;
  color: white;
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 6px;
  padding-left: 10px;
  text-decoration: none;
  margin-bottom: 5px;
  margin-top: 5px;
}

nav a:hover {
  background-color: #17b0cf;
  border: 1px solid #000;
}

#logo {
  font-family: Verdana;
  font-size: 40px;
  letter-spacing: -1px;
  text-shadow: 1px 1px 2px #c4c4c4;
  padding-left: 20px;
  padding-right: 40px;
  margin-right: 10px;
  margin-top: -20px;
}

.btnToTop {
  background-color: #0b98de;
  font-family: sans-serif;
  font-size: 40px;
  color: white;
  text-decoration: none;
}

.grid-container {
  /* background: url(./smurfsVillige); */
  margin: 0 auto;
  max-width: 90%;
  max-height: 20%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 2px;
  background-color: rgb(200, 200, 200);
  padding: 3%;
}

.grid-item {
  max-height: 20%;
  width: (1/3)%;
  margin: 0 auto;
  font-size: 1px;
}

.avatar {
  width: 20%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 5px;
}

.avatar:hover {
  width: 30%;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
=======

h1{
color: #CEF0D4;
font-family: 'Rouge Script', cursive;
font-size: 100px;
font-weight: normal;
line-height: 48px;
margin: 0 0 50px;
text-align: center;
text-shadow: 1px 1px 2px #082b34;

}
/*.neon {
    color: #D0F8FF;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
}*/
h2{
  /*color: #111;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 72px;
  text-align: center;
p{
  /*color: #685206;*/
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}
=======
#header{
  margin-top:70px;
}

  nav{
    width: 100%;
    background-color: #0b98de;
    position: fixed;
    top: 0;

  }

  nav a {
    display: inline-block;
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    padding-top: 6px;
    padding-right: 5px;
    padding-bottom: 6px;
    padding-left: 10px;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 5px;

  }

  nav a:hover {
    background-color: #17b0cf;
    border: 1px solid #000;
  }

  #logo {
      font-family: Verdana;
      font-size: 40px;
      letter-spacing: -1px;
      text-shadow: 1px 1px 2px #c4c4c4;
      padding-left: 20px;
      padding-right: 40px;
      margin-right: 10px;
      margin-top: -20px;
  }
  .btnToTop{
    background-color: #0b98de;
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    text-decoration: none;
  }
  .grid-container {
    /* background: url(./smurfsVillige); */
    margin: 0 auto;
    max-width: 90%;
    max-height: 20%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2px;
    background-color: rgb(200, 200, 200);
    padding: 3%;
  }

  .grid-item {
    max-height: 20%;
    width: (1/3)%;
    margin: 0 auto;
    font-size: 1px;
  }

  .avatar {
    width: 20%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
  }

  .avatar:hover {
    width: 30%;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

>>>>>>> bfc3e0da83dcc5ccaa192ab040f5d2238dd7d8e3
